.App {
  text-align: left;
}

.ant-layout-footer {
  color: #fff;
  text-align: center;
}

.ant-menu-item {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.ant-layout-content {
  min-height: 120px;
  color: #000;
  line-height: 120px;
  background: #CCCCCC;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo {
  float: left;
  width: 130px;
  height: 31px;
  background: #FFFFFF;
  margin-left: 15px;
  margin-top: 0px;
}

.ant-layout-header {
  background: #FFFFFF !important;
}

.nft {
  text-align: center !important;
}
> .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.nftSelected {
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.nftNotSelected {
  cursor: pointer;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.trigger:hover {
  color: #1890ff;
}

.icons {
  float: left;
  width: 130px;
}

.account {
  float: left;
  width: 260px;
}

@media only screen and (max-width: 768px) {
  .mobileRow {
      margin-top: 20px;
  }
  .web3Button {
      width: 140px;
  }
  .icons {
    float: left;
    width: 130px;
  }
  .account {
    float: left;
    width: 250px;
  }

}

@media only screen and (min-width: 769px) {
  .web3Button {
    width: 120px;
    font-size: 10px;
  }
  .web3Button span {
    font-size: 12px;
  }

}

@media only screen and (min-width: 800px) {
  .web3Button {
    width: 140px;
  }
}



@media only screen and (min-width: 900px) {
  .web3Button {
    width: 150px;
  }
}

@media only screen and (min-width: 1000px) {
  .web3Button {
    width: 170px;
  }
}


@media only screen and (min-width: 1020px) {
  .web3Button {
    width: 120px;
  }
}


@media only screen and (min-width: 1100px) {
  .web3Button {
    width: 130px;
  }
}

@media only screen and (min-width: 1200px) {
  .web3Button {
    width: 140px;
  }
}
@media only screen and (min-width: 1300px) {
  .web3Button {
    width: 160px;
  }
}

@media only screen and (min-width: 1400px) {
  .web3Button {
    width: 170px;
  }
}

@media only screen and (min-width: 1500px) {
  .web3Button {
    width: 180px;
  }
}
