.App {
  text-align: left;
}

.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
  text-align: center;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #3ba0e9;
}
[data-theme="dark"] .ant-layout-sider {
  background: #3499ec;
}
.ant-layout-content {
  min-height: 120px;
  color: #000;
  line-height: 120px;
  background: #cccccc;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

.nft {
  text-align: center !important;
}
[data-theme="dark"] .ant-layout-content {
  background: #107bcb;
}
> .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.nftSelected {
  border: 2px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.nftNotSelected {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .mobileRow {
    margin-top: 20px;
  }
}
