.App {
  text-align: left;
}

.ant-layout-footer {
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 931px) {
  .ant-menu-item {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
}



.ant-layout-content {
  min-height: 120px;
  color: #000;
  line-height: 120px;
  background: #CCCCCC;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

.logo {
  float: left;
  width: 130px;
  height: 31px;
  background: #FFFFFF;
  margin-left: 15px;
  margin-top: 0px;
}

.ant-layout-header {
  background: #FFFFFF !important;
}

.nftProgress .ant-progress-inner{
  background-color: #4a413b;
  height: 12px;
  border-radius: 0px;
  border: 2px solid #000000;
}

.nftProgress .ant-progress-bg
{
  height: 8px !important;
  padding-top: 5px !important;
  margin-left: 0px !important;
  border-radius: 0px;
}


.nftProgressSecondRow .ant-progress-inner{
  background-color: #4a413b;
  height: 12px;
  border-radius: 0px;
  border: 2px solid #000000;
}

.nftProgressSecondRow .ant-progress-bg
{
  height: 8px !important;
  padding-top: 5px !important;
  margin-left: 0px !important;
  border-radius: 0px;
}

.chef-skill > .ant-progress-text
{
  color: #13e969;
  font-weight: bold;
}

.rat-intelligence > .ant-progress-text
{
  color: #1eaeea;
  font-weight: bold;
}

.chef-insanity > .ant-progress-text
{
  color: #fc24ff;
  font-weight: bold;
}

.rat-fatness > .ant-progress-text
{
  color: #ffae00;
  font-weight: bold;
}

@media only screen and (min-width: 769px) {
  .nft {
    width: 160px;
    height: 160px;
  }
  .nftStats {
    width: 160px;
  }
  .nftImage {
    margin-left: 0px;
    margin-top: 5px;
    width: 150px;
  }
  .nftRat {
    margin-left: -5px;
  }

  .nftChef {
    margin-left: -10px;
  }
  .nftId {
    margin-left: 120px;
  }
  .kitchenRow {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 38px;
  }

}

@media only screen and (max-width: 768px) {
  .nft {
    width: 125px;
    height: 140px;
  }
  .nftStats {
    width: 125px;
  }
  .nftId {
    margin-left: 85px;
  }

  .nftImage {
    margin-top: 10px;
    width: 120px;
  }

  .nftRat {
    margin-left: 0px;
  }

  .nftChef {
    margin-left: -20px;
  }

  .kitchenRow {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 58px;
  }
}


.nftId {
  text-align: center !important;
  width: 40px;
  border-top: 3px solid #443a31;
  border-left: 3px solid #443a31;
  border-right: 3px solid #443a31;
  font-weight: bold;
  background: #524944;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 2px;
}
.nftStats {
  text-align: center !important;
  border: 3px solid #443a31;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  background: rgba(80, 70, 64, 0.8);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

}


.fade {
  background-image: url("img/fade.png");
}

.nft {
  text-align: center !important;
  margin-right: 20px;
  border-left: 3px solid #443a31;
  border-right: 3px solid #443a31;
  border-top: 3px solid #443a31;
  border-top-left-radius: 5px;
  border-top-right-radius: 2px;

  background: linear-gradient(rgba(225, 191, 176, 0.7), rgba(116, 100, 89, 0.7));
}
> .code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}

.nftSelectedStats {
  border: 5px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.nftNotSelectedStats {
  cursor: pointer;
}


.nftSelected {
  border-top: 5px solid blue;
  border-left: 5px solid blue;
  border-right: 5px solid blue;
  border-radius: 5px;
  cursor: pointer;
}

.nftNotSelected {
  cursor: pointer;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.trigger:hover {
  color: #1890ff;
}

.icons {
  float: left;
  width: 130px;
}

.account {
  float: left;
  width: 260px;
}

@media only screen and (max-width: 768px) {
  .mobileRow {
      margin-top: 20px;
  }
  .web3Button {
      width: 140px;
  }
  .icons {
    float: left;
    width: 130px;
  }
  .account {
    float: left;
    width: 250px;
  }

}

@media only screen and (min-width: 769px) {
  .web3Button {
    width: 200px;
    font-size: 10px;
  }
  .web3Button span {
    font-size: 12px;
  }

}

@media only screen and (min-width: 800px) {
  .web3Button {
    width: 230px;
  }
}



@media only screen and (min-width: 900px) {
  .web3Button {
    width: 250px;
  }
}

@media only screen and (min-width: 1000px) {
  .web3Button {
    width: 270px;
  }
}


@media only screen and (min-width: 1020px) {
  .web3Button {
    width: 200px;
  }
}


@media only screen and (min-width: 1100px) {
  .web3Button {
    width: 250px;
  }
}

@media only screen and (min-width: 1200px) {
  .web3Button {
    width: 250px;
  }
}
@media only screen and (min-width: 1300px) {
  .web3Button {
    width: 250px;
  }
}

@media only screen and (min-width: 1400px) {
  .web3Button {
    width: 300px;
  }
}

@media only screen and (min-width: 1500px) {
  .web3Button {
    width: 350px;
  }
}

.fastFoodKitchen {
  background-image: url("img/ffood_kitchen.png");
  height: 300px;
}

.chefWaitingRoom {
  background-image: url("img/waiting_room.png");
  height: 300px;
}

.ratSewer {
  background-image: url("img/rat_sewer.png");
  height: 300px;
}

.gourmetKitchen {
  background-image: url("img/gourmet_kitchen.png");
  height: 300px;
  margin-left: 20px;
}

.casualKitchen {
  background-image: url("img/casual_kitchen.png");
  height: 300px;
  margin-left: 20px;
}
